<%= form_for(@team) do |f| %>
  <% if @team.errors.any? -%>
    <div id="error_explanation">
      <h2><%=@team.errors.count%>个错误</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| -%>
        <li><%= msg %></li>
      <% end -%>
      </ul>
    </div>
  <% end -%>

  <div class="field">
    <%= f.label :name,'队伍名称'%><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit '提交'%>
  </div>
<% end %>
