<%= form_for(@team) do |f| %>
  <% if @team.errors.any? -%>
    <div id="error_explanation">
      <h2><%=@team.errors.count%>个错误</h2>

      <ul>
      <% @team.errors.messages.each do |msg| -%>
        <li><%= msg.last.first %></li>
      <% end -%>
      </ul>
    </div>
  <% end -%>
      <div>队伍名：<%=f.text_field :name%></div>
      <div><%= f.submit '提交'%></div>
<% end %>
