<div id="right">
  <ul>
    <h3>导航</h3>
    <li><%= link_to "注销", logout_path, :method => :delete %></li>
    <li><%= link_to '创建队伍', new_team_path %></li>
    <li><%= link_to '用户主页', user_index_path %></li>
    <%if User.find(session[:user_id]).admin?-%>
      <li><%= link_to '管理主页', admin_index_path %></li>
    <%end-%>
    <li><%= link_to '网站主页', root_path %></li>
  </ul>
</div>
<div id="content">
<h1>队伍列表</h1>

<table>
  <thead>
    <tr>
      <th style="width:150px">队伍名称</th>
      <th style="width:150px">队长</th>
      <th>成员</th>
      <th style="width:150px">成立时间</th>
      <th colspan=2>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%=link_to team.name,team%></td>
        <td><%= (team.captain_id)?(User.find(team.captain_id).name):link_to("成为队长","/teams/#{team.id}/add/#{current_user.id}")%></td>
        <td>
          <%if team.users.empty?-%>暂无队员加入<%else-%>
            <%team.users.each do|user|-%>
              <%= user.name %>
              <%if user!=team.users.last%><br/><%end%>
            <%end-%>
          <%end-%>
        </td>
        <td><%=team.created_at.in_time_zone('Beijing').strftime('%Y年%m月%d日%H时')%></td>
        <%if current_user.admin?||current_user.id==team.captain_id-%>
          <td style="width:50px"><%= link_to '改名', edit_team_path(team) %></td>
          <td style="width:50px"><%= link_to '解散', team, method: :delete, data: { confirm: '此操作不可恢复。确定？' } %></td>
        <%end-%>
        <%if current_user.team_id==nil&&!current_user.admin?%>
          <td style="width:50px"><%=link_to'加入',"/teams/#{team.id}/add/#{current_user.id}",data: {confirm: "确定要加入队伍\"#{team.name}\"？"}-%></td>
        <%else%>
          <%if current_user.id!=team.captain_id&&team.users.include?(current_user)%>
            <td style="width:50px"><%=link_to'退出',"/teams/#{team.id}/kick/#{current_user.id}",method: :delete,data: {confirm:"确定要退出队伍\"#{team.name}\"？"}-%></td>
          <%end-%>
        <%end-%>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
