<% provide(:sub, 'team') %>
<%= render 'user/usernavbar' %>

<div class="row">
<div class="span8">
<div class="box-circle">
<div class="box-title"><%= @team.name %></div>
<div class="box-content">

      <%= (@team.captain_id)?(link_to (@captain=User.find(@team.captain_id)).name,@captain):link_to("成为队长","/teams/#{@team.id}/add/#{current_user.id}")%>&nbsp;&nbsp;
      <span class="label label-info">队长</span>
      <br/>
      <strong>队员:</strong>
      <ul>
<%@team.users.each do |user| -%>
      <li><%=link_to user.name,user%>&nbsp;&nbsp;
      <%=link_to "踢出队伍","/teams/#{@team.id}/kick/#{user.id}", :class => "muted" ,method: :delete,data: {confirm:"确定要把#{user.name}踢出队伍？此操作不可恢复。"} if (current_user.id==@team.captain_id||current_user.admin?)&&@team.captain_id!=user.id-%></li>
<%end-%>
      </ul>
      <strong>成立时间:</strong>
      <%=@team.created_at.in_time_zone('Beijing').strftime('%Y年%m月%d日%H时')%>


<%if current_user.id==@team.captain_id%>
<%end-%>
</div>
</div>

</div>

<div class="span4">
<div class="box-circle">
<div class="box-title">操作</div>
<div class="box-content">
  <ul>
<%if current_user.id==@team.captain_id||current_user.admin?-%>
    <li><%= link_to '修改队伍名称', edit_team_path(@team) %></li>
    <li><%= link_to '解散队伍', team_path(@team), method: :delete, data: { confirm: '此操作不可恢复。确定？' } %></li>
<%end-%>
<%if current_user.team_id==nil-%>
    <li><%= link_to '加入一支队伍',teams_path-%></li>
<%end-%>
    <li><%= link_to '用户主页', user_index_path %></li>
    <li><%= link_to '队伍列表', teams_path %></li>
  </ul>
</div>
  <h2>队伍管理</h2>
  <%if Upload.time_validate? -%>
    <%@upload=Upload.new-%>
    <%=render :partial => 'uploads/form'-%>
  <%end-%>
  <%if @team.uploads.empty?-%>
    <div style="text-align:center">尚未上传任何AI</div>
  <%else-%>
    <table style="width:500px;margin:auto;">
      <thead>
        <th colspan=3>已上传的AI</th>
      </thead>
<%@team.uploads.each do |ai|-%>
      <tr>
        <td>
          <%str1=ai.path[ai.path.index("_")+1,ai.path.length-1]-%>
          <%str=str1[str1.index("_")+1,str1.length-1]-%>
          <%=link_to str,ai.path-%>
        </td>
        <td><%= link_to '更新', edit_upload_path(ai) %></td>
        <td><%=link_to "删除", ai, method: :delete, data: { confirm: '此操作不可恢复，确定？' } %></td>
      </tr>
<%end-%>
    </table>
  <%end-%>
<%end-%>
<%if current_user.admin?%>
  <br/>
  <h2>队伍管理</h2>
  <%if @team.uploads.empty?-%>
    <div style="text-align:center">尚未上传任何AI</div>
  <%else-%>
    <table style="width:500px;margin:auto;">
      <thead>
        <th colspan=2>已上传的AI</th>
      </thead>
<%@team.uploads.each do |ai|-%>
      <tr>
        <td>
          <%str1=ai.path[ai.path.index("_")+1,ai.path.length-1]-%>
          <%str=str1[str1.index("_")+1,str1.length-1]-%>
          <%=link_to str,ai.path-%>
        </td>
        <td><%=link_to "删除", ai, method: :delete, data: { confirm: '此操作不可恢复，确定？' } %></td>
      </tr>
<%end-%>
    </table>
  <%end-%>
<%end-%>
</div>
</div>

</div>
