<div class="span8">
<div class="box-circle">
<div class="box-title">编辑评论</div>
<div class="box-content">
  <h1>原文内容</h1>
  <div class="page-divider"></div>
  <p><%=simple_format(Post.find_by_id(@comment.post_id).text)%></p>
  <%=render 'form'%>
  <%= link_to '取消编辑', :back %>
  </div>
  </div>
</div>

<div class="span4">
  <ul>
    <%if User.find(session[:user_id]).admin?-%>
      <li><%= link_to '评论列表', comments_path %></li>
      <li><%= link_to '管理主页', admin_index_path %></li>
    <%end-%>
  <ul>

    <%= render 'posts/sidenews' %>
    <%= render 'posts/recent' %>

</div>