<h1>所有评论</h1>

<table>
  <thead>
    <tr>
      <th>作者</th>
      <th>内容</th>
      <th>帖子</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
    <%if User.find_by_id(comment.user_id)%>
        <td><%= User.find_by_id(comment.user_id).name%></td>
    <% end %>
        <td><%= comment.text %></td>
        <td><%= comment.post_id %></td>
        <td><%= link_to '详情', Post.find_by_id(comment.post_id) %></td>
        <td><%= link_to '编辑', edit_comment_path(comment) %></td>
        <td><%= link_to '删除', comment, method: :delete, data: { confirm: '此操作不可恢复。确定？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '返回用户主页', user_index_path %> |
<%= link_to '返回管理员主页', admin_index_path %> |
<%= link_to '返回网站主页', root_path %>
