<div class="box-circle">
<% if current_user.admin? %>
<div class="box-title">管理员导航</div>
<% else %>
<div class="box-title">导航</div>
<% end %>
<div class="box-content">
  <ul class="nav">
  <p class="text-center">
  <%if current_user.admin?-%>
  	<% if @sub == 'admin-userprofile' %>
      <%= link_to '修改用户信息', edit_user_path(@user), :class => "btn" %><br/>
    <% end %>
    <%= link_to '管理主页', admin_index_path, :class => "btn btn-primary" %><br/>
    <%= link_to '用户列表', users_path, :class => "btn"  %><br/>
    <%= link_to '队伍列表', teams_path, :class => "btn"  %><br/>
<%if @news_page-%>
  <%= link_to '发表新闻', new_news_path, :class => "btn" -%><br/>
<%end-%>
    <%= link_to '帖子列表', posts_path, :class => "btn"  %><br/>
    <%= link_to '评论列表', comments_path, :class => "btn"  %><br/>
    <% end %>
    
    <% if @sub == 'edit' %>
   		 <%=link_to_function '取消修改信息', "history.go(-1)", :class => "btn btn-warning" %><br/>
    <% end %>
  </p>
  </ul>
  </div>
  </div>
