<%=form_for(@user) do |f|%>
  <% if @user.errors.any?-%>
    <div id="error_explanation">
      <h2><%=@user.errors.count%>个错误：</h2>
      <ul>
      <%@user.errors.messages.each do |msg|%>
        <li><%=msg.last.first-%></li>
      <%end-%>
      </ul>
    </div>
  <%end-%>
  <table style="width:500px;margin:auto;">
    <thead>
      <th id="left-item">请输入相应信息：</th><th/> 
    </thead>
    <tr>
        <td id="left-item">用户名：</td>
        <td id="right-item"><%=(@user.admin?)?"admin":(f.text_field :name)%></td>
    </tr>
    <tr>
      <td id="left-item"><%=@pwd%>密码：</td>
        <td id="right-item"><%=f.password_field :password%></td>
    </tr>
    <tr>
        <td id="left-item">确认密码：</td>
        <td id="right-item"><%=f.password_field :password_confirmation%></td>
    </tr>
    <tr>
        <td id="left-item">电子邮箱：</td>
        <td id="right-item"><%=f.text_field :email%></td>
    </tr>
    <tr>
        <td id="left-item">姓名：</td>
        <td id="right-item"><%=f.text_field :true_name%></td>
    </tr>
    <tr>
        <td id="left-item">学号：</td>
        <td id="right-item"><%=f.number_field :student_number%></td>
    </tr>
  <%if current_user.admin? && !@user.admin?-%>
    <tr>
      <td id="left-item"><%=@team%>：</td>
        <td id="right-item"><%=f.select :team_id,Team.all.collect {|p| [ p.name, p.id ] }, include_blank: true%></td>
    </tr>
  <%end-%>
    <tr>
      <td id="left-item">用户类别：</td>
      <td id="right-item"><%=f.select :user_type,['参赛选手','队式开发组','队式元老','打酱油的']-%></td>
    </tr>
    <tr>
        <td id="left-item">头像：</td>
        <td id="right-item"><%=f.file_field :portrait%></td>
    </tr>
    <tr>
      <td/>
      <td id="right-item">网站默认使用<%= link_to "Gravatar", "http://cn.gravatar.com" %>读取头像。</td>
    </tr>
    <tr>
        <td id="left-item"><%= f.submit '提交'%></td>
        <td/>
    </tr>
  </table>
<%end-%>
