<div class="span8">
  <div class="box-circle">
    <div class="box-title">用户列表</div>
      <div class="box-content">
        <div style="font-size:12px;text-align:right">共<%=@users.count()%>个用户</div>
          <%= will_paginate %>
        <table class="table">
          <thead>
            <tr>
                <th>用户名</th>
                <th>队伍</th>
                <th>排序</th>
                <th>测试赛成绩</th>
            </tr>
          </thead>
          <tbody>
<%counter=(@users.current_page-1)*@users.per_page-%>
<%@users.each do |user| %>
            <tr>
              <td><%= link_to user.name,user %></td>
              <td><%= (team_id=user.team_id)?(link_to (@user_team=Team.find(team_id)).name,@user_team):"没有组队" %></td>
              <td><%=counter+=1-%></td>
<%  test_result=0
      test_result+=(user.test1||=0)
      test_result+=(user.test2||=0)
      test_result+=(user.test3||=0)
      test_result+=(user.test4||=0)
      test_result+=(user.test5||=0)
      test_result+=(user.test6||=0)
      test_result+=(user.test7||=0)
      test_result+=(user.test8||=0)
      test_result+=(user.test9||=0)
-%>
                <td><%=test_result-%></td>
              </tr>
<%end%>
            </tbody>
          </table>
          <%= will_paginate %>
        </div>
      </div>
    </div>
    <div class="span4">
<%if current_user.admin?-%>
      <%= render 'adminsidebar' %>
<%else-%>
      <%= render 'user/sidebar'-%>
<%end-%>
    </div>
  
