<div class="span8">
<% @pwd="";@team="可以现在加入一支队伍" %>
<%= render 'form' %>
</div>

<div class="span4">
  <ul class="nav">
<%if !current_user-%>
<%else-%>
    <li><%=link_to "注销", logout_path, :method => :delete %></li>
    <li><%=link_to '用户列表', users_path%></li>
    <li><%=link_to "用户主页", user_index_path %></li>
    <li><%=link_to "管理主页", admin_index_path %></li>
    <li><%=link_to '网站主页', root_path%></li>
  </ul>
<%end-%>
</div>
