<p id="notice"><%= notice %></p>

<p>
  <strong>用户名:</strong>
  <%= @user.name %>
</p>
<div>
  <%= image_tag @user.gravatar_url size: 100 %>
</div>

<p>
  <strong>电子邮箱:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>姓名:</strong>
  <%= @user.true_name %>
</p>

<p>
  <strong>学号:</strong>
  <%= @user.student_number %>
</p>

<p>
  <strong>所在队伍:</strong>
  <%= @user.team_id %>
</p>

<p>
  <strong>用户类型:</strong>
  <% if @user.admin? %>
    <%= "管理员"%>
  <% else %>
    <%= "参赛选手" %>
  <% end %>
</p>

<%= link_to '修改用户信息', edit_user_path(@user) %> |
<%= link_to '返回用户列表', users_path %>|
<%= link_to '返回网站主页', root_path %>
