<div class="center hero-unit">
<h1>第十五届队式程序设计大赛官方网站</h1>
<p id="notice"><%= notice %></p>
<div><%= image_tag 'TeamStyle15.text.png', :size=> "400x200" %></div>
<% if !(current_user=User.find_by_id(session[:user_id])) %>

  <%= link_to "注册!", new_user_path, :method => :get, class: "btn btn-large btn-primary", id: "sgn-primary" %>

<!--上面这两种东西差不多的以后只写一个了-->
<div><%= link_to "登录", login_path%></div><!--登录-->
<% else %>
<div><%= link_to "注销", logout_path, :method => :delete %></div><!--注销-->
<% end %>

<div><%= link_to "发表帖子", new_post_path %></div>
<div><%= link_to "浏览帖子", posts_path %></div>

<% if User.find_by_id(session[:user_id]) %>
<div><%= link_to "用户主页", user_index_path%></div>
<% if User.find_by_id(session[:user_id]).admin? %>
<div><%= link_to "管理员主页", admin_index_path %></div>
<div><%= link_to "用户列表", users_path %></div><!--管理用户列表-->
<% end %>
<% end %>
<div></div><!--宣传信息神马的-->
</div>
