<!--
<div id="right">
  <ul>
    <h3>导航</h3>
<%if !current_user %>
    <li><%= link_to "注册", new_user_path %></li>
    <li><%= link_to "登录", login_path%></li>
<%else %>
    <li><%= link_to "注销", logout_path, :method => :delete %></li>
<%  if current_user.admin? %>
    <li><%= link_to "新闻列表", news_index_path %></li>
    <li><%= link_to "帖子列表", posts_path %></li>
    <li><%= link_to "评论列表", comments_path %></li>
    <li><%= link_to "用户列表", users_path %></li>
    <li><%= link_to "队伍列表", teams_path %></li>
    <li><%= link_to "管理主页", admin_index_path %></li>
<%  else-%>
    <li><%= link_to "发表帖子", new_post_path %></li>
    <li><%= link_to "浏览帖子", posts_path %></li>
    <li><%= link_to "用户主页", user_index_path%></li>
<%  end-%>
<%end-%>
  </ul>
</div>
-->
</div>
  <div class="intro">
  <div class="container">
  <%= image_tag "TeamStyle15.text.png", :class => "img pull-right hidden-phone" %>
    <div class="intro-content">
    <h1>镜界</h1>
    <p>
    第十五届队式程序设计大赛
    </p>
    <%= link_to "加入队式", new_user_path, :class => "btn btn-primary btn-large" %>
    </div>
    </div>
  
  </div>

<div class="container">
  <div class="intro-small">
  <%= image_tag "logo.png", :class => "pull-right" %>
  <div class="indicator">Mirro World</div>
  <div class="page-divider"></div>
    <p>
    &nbsp;&nbsp;&nbsp;&nbsp;镜子的两边是两个不同的世界，两个世界保持着诡异的对称，直到某一天，一面巨大的镜子发生了异变，成为沟通两个世界的大门
    ……<i>然后就打起来了</i>……
    </p>
  </div>

<div class="row">
<div class="span6">
  <div class="box-circle">
  <div class="box-title">话说……</div>
  <div class="box-content">
<%(@news=News.limit(5).order("updated_at DESC")).each do |news|-%>
  <div>
    <div class="muted pull-right"><%=news.created_at.in_time_zone('Beijing').strftime('%Y/%m/%d %H:%M:%S')-%></div>
    <%= truncate(news.text,length: 140,omission: '...') %>
    </div>
    <div class="page-divider"></div>
<%end-%>
</div>
</div>  
</div>

<div class="span6">
  <div class="box-circle">
  <div class="box-title">Latest</div>
  <div class="box-content">
<%(@posts=Post.limit(10).order("updated_at DESC")).each do |post|-%>
  <div>
    <div class="muted pull-right"><%=post.created_at.in_time_zone('Beijing').strftime('%Y/%m/%d %H:%M:%S')-%></div>
    <%= link_to truncate(post.title,length: 26,omission: '...'), post %>
    </div>
    <div class="page-divider"></div>
  <%end-%>
  </div>
  </div>  
</div>
</div>