<div class="box-circle">
  <div class="box-title">给<%=@the_user.name-%>留言</div>
  <div class="box-content">
    <%=form_tag('/pm') do-%>
      <%=hidden_field_tag :user_id, params[:user_id], :value=>@the_user.id-%>
      <%=hidden_field_tag :content, params[:content], :value=>@current_user.id-%>
      <%=text_area_tag :text, params[:text], size: '100%'-%>
      <%=submit_tag "发送",:class => "btn btn-success"-%>
    <%end-%>
  </div>
</div>
