<table style="width:100%; line-height:auto; ">
  <thead>
    <th colspan=3>用户信息</th>
  </thead>
  <tbody>
      <tr>
        <td id="left-item"><strong>用户名：</strong></td>
        <td id="right-item"><%= @the_user.name %></td>
        <td rowspan=<%=((@the_user.admin?)?5:6) + ((current_user.admin? || current_user==@the_user)?1:0)%> style="width:200px;vertical-align:top;background-color:#FFF"><%= image_tag @the_user.portrait_path,:style => "max-height:200px"  %></td>
      </tr>
      <tr>
        <td id="left-item"><strong>电子邮箱：</strong></td>
        <td id="right-item"><%= @the_user.email-%></td>
      </tr>
      <tr>
        <td id="left-item"><strong>姓名：</strong></td>
        <td id="right-item"><%= @the_user.true_name %></td>
      </tr>

<%if current_user.admin? || current_user==@the_user-%>
      <tr>
        <td id="left-item"><strong>学号：</strong></td>
        <td id="right-item"><%= @the_user.student_number %></td>
      </tr>
<%end-%>
<%if !@the_user.admin?-%>
      <tr>
        <td id="left-item"><strong>所在队伍：</strong></td>
        <td id="right-item"><%=(@the_user.team_id)?(Team.find_by_id(@the_user.team_id).name):("尚未加入任何队伍")-%></td>
      </tr>
<%end-%>
      <tr>
        <td id="left-item"><strong>用户类型：</strong></td>
        <td id="right-item"><%=(@the_user.admin?)?"管理员":"参赛选手"%></td>
      </tr>
      <tr>
        <td id="left-item"><strong>加入时间：</strong></td>
        <td id="right-item"><%=@the_user.created_at.in_time_zone('Beijing').strftime('%Y年%m月%d日%H时')%></td>
      </tr>
  </tbody>
</table>
