<div class="box-circle">
  <div class="box-title">用户信息</div>
  <div class="box-content">
  <div class="row">
<div class="span5">
<table class="table-profile">
  <tbody>
      <tr>
        <td id="left-item"><strong>用户名：</strong></td>
        <td id="right-item"><%= @the_user.name %></td>
      </tr>
      <tr>
        <td id="left-item"><strong>邮箱：</strong></td>
        <td id="right-item"><%= @the_user.email-%></td>
      </tr>
      <tr>
        <td id="left-item"><strong>姓名：</strong></td>
        <td id="right-item"><%= @the_user.true_name %></td>
      </tr>

<%if current_user.admin? || current_user==@the_user-%>
      <tr>
        <td id="left-item"><strong>学号：</strong></td>
        <td id="right-item"><%= @the_user.student_number %></td>
      </tr>
<%end-%>
<%if !@the_user.admin?-%>
      <tr>
        <td id="left-item"><strong>队伍：</strong></td>
        <td id="right-item"><%=(@the_user.team_id)?(Team.find_by_id(@the_user.team_id).name):("尚未加入任何队伍")-%></td>
      </tr>
<%end-%>
      <tr>
        <td id="left-item"><strong>用户类别：</strong></td>
        <td id="right-item"><%=(@the_user.admin?)? "管理员":@the_user.user_type%></td>
      </tr>
      <tr>
        <td id="left-item"><strong>加入时间：</strong></td>
        <td id="right-item"><%=@the_user.created_at.in_time_zone('Beijing').strftime('%Y年%m月%d日%H时')%></td>
      </tr>
  </tbody>
</table>
</div>
  <div class="span2">
    <%= image_tag @the_user.portrait_path, :class => "img" %>
  </div>
  </div>

  </div>
</div>