  <ul class="nav nav-tabs">
  <li <% if @sub == "profile" %> class="active" <% end %> ><%= link_to "信息", user_index_path %></li>
  <li <% if @sub == "usermessage" %> class="active" <% end %> ><%= link_to "消息", user_usermessage_path %></li>
  <li <% if @sub == "userpost" %> class="active" <% end %> ><%= link_to "帖子", user_userpost_path %></li>
  <li <% if @sub == "team" %> class="active" <% end %> >
    <%if current_user.team_id-%>
      <%if Team.find(current_user.team_id).captain_id==current_user.id-%>
        <%= link_to '队伍', team_path(current_user.team_id) %>
      <%else-%>
        <%= link_to '队伍', team_path(current_user.team_id) %>
      <%end-%>
    <% else %>
      <%= link_to "Team", user_team_path %>
    <% end %>
  </li>
  </ul>