  <ul class="nav nav-tabs">
  <% if yield(:sub) == 'profile' %>
    <li class="active">
  <% else %>
    <li>
  <% end %>
  <%= link_to "Profile", user_index_path %></li>
  <li><%= link_to "帖子", user_userpost_path %></li>
  <li>
    <%if current_user.team_id-%>
      <%if Team.find(current_user.team_id).captain_id==current_user.id-%>
        <li><%= link_to '队伍', team_path(current_user.team_id) %></li>
      <%else-%>
        <li><%= link_to '队伍', team_path(current_user.team_id) %></li>
      <%end-%>
    <% else %>
      <%= link_to "Team", user_team_path %>
    <% end %>
  </li>
  </ul>