<!--<div id="right">
  <h3>导航</h3>
  <ul>
    <li><%= link_to "注销", logout_path, :method => :delete %></li>
    <li><%= link_to '修改个人信息', edit_user_path(current_user) %></li>
<%if current_user.admin?-%>
      <li><%= link_to '管理主页', admin_index_path %></li>
<%else-%>
    <li><%= link_to '查看队伍列表', teams_path %></li>
    <%if current_user.team_id-%>
      <%if Team.find(current_user.team_id).captain_id==current_user.id-%>
        <li><%= link_to '管理所在队伍', team_path(current_user.team_id) %></li>
      <%else-%>
        <li><%= link_to '查看所在队伍', team_path(current_user.team_id) %></li>
      <%end-%>
      <li><%= link_to '退出所在队伍', "/teams/#{current_user.team_id}/del",method: :delete, data: {confirm: "确定退出队伍\"#{Team.find(current_user.team_id).name}\"？此操作不可恢复。"} %></li>
    <%else-%>
      <li><%= link_to '创建一支队伍', new_team_path %></li>
      <%if Team.count!=0%>
        <li><%= link_to '加入一支队伍', teams_path %></li>
      <%end-%>
    <%end-%>
<%end-%>
  </ul>
</div>
-->
  <ul class="nav nav-tabs">
  <li class="active"><a href="#">Profile</a></li>
  <li><%= link_to "帖子", user_userpost_path %></li>
  <li>
    <%if current_user.team_id-%>
      <%if Team.find(current_user.team_id).captain_id==current_user.id-%>
        <li><%= link_to '队伍', team_path(current_user.team_id) %></li>
      <%else-%>
        <li><%= link_to '队伍', team_path(current_user.team_id) %></li>
      <%end-%>
    <% else %>
      <%= link_to "Team", user_team_path %>
    <% end %>
  </li>
  </ul>
<div class="row">
<div class="span8">
  <%@the_user=current_user-%>
  <%=render 'table'-%>
  <%= link_to '修改个人信息', edit_user_path(current_user), :class => "btn btn-primary" %>
  <br/>
  <!--用户信息跟帖子信息的分割线-->

  <div>
    <h2 id="para-title">最近发表</h2>
    <%@posts=current_user.posts.limit(5) %>
<%if @posts.count()>0%>
    <div style="font-size:12px;text-align:right">共<%=@posts.count()%>条</div>
<%end-%>
    <%if @posts.empty?-%>
      <p>尚未发表任何帖子</p>
    <%else-%>
      <table>
        <thead>
          <th style="width=60px">标题</th>
          <th>内容</th>
          <th style="width=10px">评论</th>
        </thead>
        <tbody>
        <%@posts.each do |post|-%>
          <tr>
            <td>
              <%=link_to truncate(post.title,length:12,omission:"……"),post_path(post)%>
            </td>
            <td style="text-align:left">
              <%=truncate(post.text,length:32,omission:"……")%>
            </td>
            <td>
              <%=post.comments.count%>
            </td>
          </tr>
        <%end-%>
        </tbody>
      </table>
    <%end-%>
    <br/>
    <!--发帖信息和评论信息的分割线-->
    <h2 id="para-title">最近评论的帖子</h2>
    <%@comments=current_user.comments-%>
<%if @comments.count>0-%>
    <div style="font-size:12px;text-align:right">共<%=@comments.count()%>条</div>
<%end-%>
    <%if @comments.empty?-%>
      <p>尚未发表任何评论</p>
    <%else-%>
      <%
        @commented_posts={}
        @comments.each do |comment|
            (@commented_posts[comment.post_id]||=[])<<comment.id
        end
      -%>
      <table>
        <thead>
          <th style="width:60px">帖子标题</th>
          <th style="width:60px">帖子内容</th>
          <th style="width:60px">评论总数</th>
          <th style="width:300px">评论内容</th>
        </thead>
        <tbody>
        <%@commented_posts.each_key do |post_id|-%>
          <%@post=Post.find_by_id(post_id)-%>
          <tr>
            <td>
              <%=link_to truncate(@post.title,length:12,omission:"……"),post_path(@post)%>
            </td>
            <td style="text-align:left">
              <%=truncate(@post.text,length:12,omission:"……")%>
            </td>
            <td>
              <%=@post.comments.count%>
            </td>
            <td>
                <%@commented_posts[post_id].each do |comment_id|-%>
                  <blockquote style="text-align:left"><%=truncate(Comment.find_by_id(comment_id).text,length:22,omission:"……")%></blockquote>
                <%end-%>
            </td>
          </tr>
        <%end-%>
        </tbody>
      </table>
    <%end-%>
  </div>
</div>

<div class="span4">
  <div class="box-circle">
    <div class="box-title">Side Bar</div>
  </div>
</div>

</div>