<%= render 'user/usernavbar' %>
<div class="row-fluid">
<div class="span8">
  <%@the_user=current_user-%>
  <%=render 'table'-%>
  <br/>

  <!--用户消息跟帖子信息的分割线-->

  <div>
  <div class="box-circle">
  <div class="box-title">最近发表</div>
  <% @posts=current_user.posts.limit(5).order("updated_at DESC") %>
  <%if @posts.empty?-%>
      <p>尚未发表任何帖子</p>
  <%else-%>
  <div class="box-content">
<%@posts.each do |post|-%>
  <div>
    <div class="muted pull-right"><%=post.created_at.in_time_zone('Beijing').strftime('%Y/%m/%d %H:%M:%S')-%></div>
    <%= link_to truncate(post.title,length: 26,omission: '...'), post %>
    </div>
    <div class="page-divider"></div>
  <%end-%>
  </div>
  <% end %>
  </div>  
    <!--发帖信息和评论信息的分割线-->

    <div class="box-circle">
    <div class="box-title">最近评论的帖子</div>
    <%@comments=current_user.comments-%>
    <%if @comments.empty?-%>
      <p>尚未发表任何评论</p>
    <%else-%>
    <div class="box-content">
    <div style="font-size:12px;text-align:right">共<%=@comments.count()%>条</div>
      <%
        @commented_posts={}
        @comments.each do |comment|
            (@commented_posts[comment.post_id]||=[])<<comment.id
        end
      -%>
      <table>
        <thead>
          <th style="width:60px">帖子标题</th>
          <th style="width:60px">帖子内容</th>
          <th style="width:60px">评论总数</th>
          <th style="width:300px">评论内容</th>
        </thead>
        <tbody>
        <%@commented_posts.each_key do |post_id|-%>
          <%@post=Post.find_by_id(post_id)-%>
          <tr>
            <td>
              <%=link_to truncate(@post.title,length:12,omission:"……"),post_path(@post)%>
            </td>
            <td style="text-align:left">
              <%=truncate(@post.text,length:12,omission:"……")%>
            </td>
            <td>
              <%=@post.comments.count%>
            </td>
            <td>
                <%@commented_posts[post_id].each do |comment_id|-%>
                  <p><%=truncate(Comment.find_by_id(comment_id).text,length:22,omission:"……")%></p>
                <%end-%>
            </td>
          </tr>
        <%end-%>
        </tbody>
      </table>
</div>
    <%end-%>
  </div>
  </div>
</div>

<div class="span4">
<%= render 'sidebar' %>
</div>

</div>
