<ul class="nav nav-tabs">
  <li><%= link_to "Profile", user_index_path %></li>
  <li class="active"><a href="#">帖子</a></li>
  <li>
    <%if current_user.team_id-%>
      <%if Team.find(current_user.team_id).captain_id==current_user.id-%>
        <li><%= link_to '队伍', team_path(current_user.team_id) %></li>
      <%else-%>
        <li><%= link_to '队伍', team_path(current_user.team_id) %></li>
      <%end-%>
    <% else %>
      <%= link_to "Team", user_team_path %>
    <% end %>
  </li></ul>
<div class="row">
<div class="span8">
	<% @posts=current_user.posts.paginate(:page => params[:page], :per_page => 10, :order => 'updated_at DESC') %>
	<% if @posts.empty? %>

	<% else %>
		<%@posts.each do |post|-%>
			<div class="post">
			    <span class="badge badge-info pull-right"><%=post.comments.count() %></span>
				<%= link_to post.title, post_path(post) %>
				<p class="muted">posted at<%= post.created_at.in_time_zone('Beijing').strftime('%Y/%m/%d %H:%M:%S') %></p>
			</div>
		<% end %>
	<% end %>
	<%= will_paginate @posts, { :class => "pagination pagination-centered",
                             :inner_window => 2,
                             :outter_window => 1 } %>
</div>

<div class="span4">
  <div class="box-circle">
    <div class="box-title">Side Bar</div>
  </div>
</div>

</div>