<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%=@post.errors.count%>个错误:</h2>

      <ul>
      <% @post.errors.messages.each do |msg| %>
        <%if msg.first==:title-%>
          <li><%="标题"+msg.last.first-%></li>
        <%end-%>
        <%if msg.first==:text-%>
          <li><%="正文"+msg.last.first-%></li>
        <%end-%>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%if @newpost || current_user.admin?-%>
    <div class="field">
    <%= f.select :post_type,{'吐槽灌水'=>0,'问题反馈'=>1,'战术讨论'=>2,'战友招募'=>3},:selected=>flash[:last]-%>
  </div>
  <%end-%>
  <div class="field">
    <%= f.text_field :title, size:80, :placeholder => "标题" %>
  </div>
  <div class="field">
    <%= f.text_area :text, size: "100x30", :placeholder => "正文" %>
  </div>
  <div class="actions">
    <%= f.submit '提交', :class => "btn btn-success" %>
  </div>
<% end %>
