<ul class="breadcrumb">
    <li><%=link_to "全部帖子",'posts'-%><span class="divider">/</span></li>
        <li><%=link_to "吐槽灌水区",'posts0'-%></li>
        <li><%=link_to "问题反馈区",'posts1'-%></li>
        <li><%=link_to "战术讨论区",'posts2'-%></li>
        <li><%=link_to "队友招募区",'posts3'-%></li>
</ul>