      <div style="text-align:center">
        <%=link_to "全部帖子",'posts'-%>
        <%=link_to "吐槽灌水区",'posts0'-%>
        <%=link_to "问题反馈区",'posts1'-%>
        <%=link_to "战术讨论区",'posts2'-%>
        <%=link_to "队友招募区",'posts3'-%>
      </div>
