<div id="right">
  <ul>
    <h3>导航</h3>
    <li><%= link_to "注销", logout_path, :method => :delete %></li>
    <li><%= link_to '取消编辑', @post %></li>
    <li><%= link_to '帖子列表', posts_path %></li>
    <li><%= link_to '网站主页', root_path %></li>
    <%if User.find(session[:user_id]).admin?-%>
      <li><%= link_to '管理主页', admin_index_path %></li>
    <%end-%>
  </ul>
</div>
<div id="content">
  <h1>编辑帖子</h1><br/>
  <%= render 'form' %>
</div>
