<!--
<div id="right">
  <ul>
    <li><%= link_to "注销", logout_path, :method => :delete -%></li>
    <%if current_user.admin?||current_user.id==@post.user_id-%>
      <li><%= link_to '编辑帖子', edit_post_path(@post) -%></li>
      <li><%= link_to '删除帖子', post_path(@post),method: :delete,confirm: "此操作不可恢复。确定？"-%></li>
    <%end-%>
    <li><%= link_to '帖子列表', posts_path -%></li>
    <%if User.find(session[:user_id]).admin?-%>
      <li><%= link_to '管理主页', admin_index_path -%></li>
    <%end-%>
    <li><%= link_to '网站主页', root_path -%></li>
  </ul>
</div>
<div id="content">
-->
<div class="row-fluid">
<div class="span8">
<div class="box-circle">
<div class="box-content">
<div class="indicator">
  <% if User.find_by_id(@post.user_id).portrait_path %>
    <%= image_tag User.find_by_id(@post.user_id).portrait_path, :class => "img pull-right" %>
  <% else %>
    <%= image_tag User.find_by_id(@post.user_id).gravatar_url, :class => "img pull-right" %>
  <% end %>
  <h2><%=@post.title-%></h2>
  <h6 class="muted">由
  <%if @find_user=User.find_by_id(@post.user_id) -%>
    <%=link_to @find_user.name,@find_user -%>
  <%else-%>
    已被删除的用户
  <%end-%>
  发表于<%=@post.created_at.in_time_zone('Beijing').strftime('%Y/%m/%d %H:%M:%S') -%>
  <%if @post.created_at!=@post.updated_at-%>
    <strong>修改于</strong>：<%=@post.updated_at.in_time_zone('Beijing').strftime('%Y/%m/%d %H:%M:%S')-%>
  <%end-%>
  </h6>  
</div>
</div>
<div class="page-divider"></div>
<div class="box-content">
    <%=raw sanitize(simple_format(@post.text), :tags => %w(br p) ) %>
    <%if current_user.admin?||current_user.id==@post.user_id-%>
      <%= link_to '编辑帖子', edit_post_path(@post) -%> |
      <%= link_to '删除帖子', post_path(@post),method: :delete,confirm: "此操作不可恢复。确定？"-%>
    <%end-%>
</div>
</div>

  <%if @post.comments.empty? -%>
    <div style="font-size:20px; color:green">还没有人评论！来说点什么吧 ↓</div>
  <% else %>
<div class="box-circle">
  <div class="box-title">评论</div>
  <% @post.comments.each do |comment| -%>
  <div class="post">
    <%= image_tag (@comment_author=User.find(comment.user_id)).portrait_path, :class => "img pull-left" %>
<%if comment.created_at==comment.updated_at-%>
    <p class="muted"><%=link_to comment.user.name,comment.user-%><strong>创建于</strong>：<%=comment.created_at.in_time_zone('Beijing').strftime('%Y/%m/%d %H:%M:%S') -%></p>
<%else-%>
      <p class="muted"><%=link_to comment.user.name,comment.user-%><strong>修改于</strong>：<%=comment.updated_at.in_time_zone('Beijing').strftime('%Y/%m/%d %H:%M:%S')-%></p>
<%end-%>
    <%=raw sanitize(simple_format(comment.text), :tags => %w(br p) ) %> 

    <%if User.find(session[:user_id]).id==comment.user_id||User.find(session[:user_id]).admin?-%>
      <div style="text-align:right; font-size:12px">
        <%= link_to '编辑', edit_comment_path(comment.id) %>
        <%= link_to '删除', comment, method: :delete, data: { confirm: '此操作不可恢复。确定？' } %>
      </div>
    <%end-%>
  </div>
  <%end%>
  </div>

  <%end-%>

<%=render 'comment_form'%>
<%render :template => 'comments/_form.html.erb'%>
</div>

<div class="span4">
  <%= render 'sidenews' %>
  <%= render 'recent' %>
</div>
</div>
